:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --header-link-color: #2196f3;
  --logo-text-color: #000000;
  --bg-our-team: #f5f4fa;
  --white-color-text: #ffffff;
  --title-box-color: #2f303a;
  --shadow-color: #eeeeee;
  --header-border: #ececec;
  --social-icon: #afb1b8;
  --our-clients: #212121;
}
